body {
    font: caption;
}

.side-panel {
    /*background: lightgray;*/
    border-right: 4px  double darkgray;
}

.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 350px;
    max-width: 350px;
    min-height: 90vh;
    max-height: 90vh;
}

#sidebar.active {
    margin-left: -300px;
}

.tab-pane {
    padding: 5px;
}

.tab-content {
    height: 90%;
}

#map-canvas-panel {
    max-width: 75ch;
    max-height: 75ch;
    overflow: scroll;
}

canvas {
    display: block;
}

.footer {
    border-top: 1px solid darkgray;
    line-height: 50px;
}

#actors {
    height: 100%;
}

#actors-database-panel {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    border-bottom: 1px dashed black;
    max-height: 30%;
    overflow-y: scroll;
}

#room-actors-panel {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    border-bottom: 1px dashed black;
    max-height: 30%;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.actor-db-card, .actor-room-card {
    border: 1px dotted gray;
    padding: 5px;
    cursor: pointer;
}

.actor-db-card {
    width: 50%;
    float: left;
}

.card-selected {
    background: lightgoldenrodyellow;
}

#room-actors-panel > .card-selected {
    border: 1px dashed sandybrown;
}

#current-tile-position {
    font-family: monospace;
}

#entity-source-textarea {
    font-family: monospace;
}