body {
    font: caption;
}

.side-panel {
    /*background: lightgray;*/
    border-right: 4px  double darkgray;
}

.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 300px;
    max-width: 300px;
    min-height: 100vh;
}

#sidebar.active {
    margin-left: -300px;
}

.tab-pane {
    padding: 5px;
}

canvas {
    display: block;
}